/*
grün: #B3C6B8
orange: #DD8F68
blau: #22223D
*/

.mobile-note {
  display: none;
}

:root {
  --green: #DD8F68;
  --blue: #22223D;
  --white: #fffaf0;
}


html {
  scroll-behavior: smooth;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 14px;
  color: #22223D;
  background-color: var(--green);
}

/* BG color */
.ceramic-crafts,
footer {
  background-color: var(--blue);
}

.illustration-design {
  background-color: var(--white);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.illustration-design {
  padding: 0;
  margin: 0;
}

.ceramic-crafts {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

/*HEADER and FOOTER*/
header {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

footer {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 4vh;
}

.footer-text{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 16px;
  color: var(--white);
  border: none;
  background: 0;
}
.footer-text>a{
  font-size: 16px;
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
}

.footer-text:last-child {
  cursor: auto;
}

.logo {
  padding-top: 45vh;
  padding-right:4vw;
  text-align: right;
  z-index: 1;
}

/*ABOUT*/
.about {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.about div {
  max-width: 30vw;
}

.buttons-about {
  bottom: 0;
  right: 5vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-end;
}

/*CV*/
.cv {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
.cv div {
  max-width: 50vw;
}

/*PRIVACY IMPRINT*/
.privacy-imprint {
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}
.privacy-imprint div {
  max-width: 50vw;
  height: fit-content;
}


.home {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

/*HOME BACKGROUND IMAGE*/
.home-img {
  height: 101vh;
  width: 100vw;
  z-index: -2;
  position: absolute;
  object-fit: fill;
  /*when only graphical image: fill, otherwise: none*/
}

.content-home {
  overflow: hidden;
  height: 100vh;
  /*size*/
  width: 100vw;
  z-index: 1;

  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.project-home {
  color: var(--blue);
  font-size: 18px;
  width: 20vw;
  display: flex;
  flex-direction: column;

}

/*.project-home img {
  border-radius: 35px;
  border: 5px solid;
  border-color: var(--white);
}
.project-home a:first-child {
  padding-bottom: .5em;
  padding-left: 2em;
  font-size: large;
  color: var(--white);
}*/

.YouTube {
  display: flex;
  flex-direction: column;
  
}
.YouTube a {
  padding-bottom: .5em;
  padding-right: 2em;
  font-size: large;
  text-align: right;
}

.YouTube iframe {
  width: 560px;
  height: 315px;
  border-radius: 35px;
  border: 5px solid;
  border-color: var(--blue);
}

.buttons-home {
  height: 100vh;
  position: absolute;
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
}

/*BUTTONS index*/
.button-about {
  background: url(data/button-about.svg);
  background-repeat: no-repeat;
  height: 12vh;
  width: 12vh;
  background-color: var(--white);
  border-radius: 50%;
}

.button-about:hover {
  background: url(data/button-about-hover.svg);
  background-repeat: no-repeat;
  background-color: var(--white);
  border-radius: 50%;
}

.button-shop {
  background: url(data/button-shop.svg);
  background-repeat: no-repeat;
  height: 12vh;
  width: 12vh;
  background-color: var(--white);
  border-radius: 50%;
}

.button-shop:hover {
  background: url(data/button-shop-hover.svg);
  background-repeat: no-repeat;
  background-color: var(--white);
  border-radius: 50%;
}

.button-youtube {
  background: url(data/button-youtube.svg);
  background-repeat: no-repeat;
  height: 12vh;
  width: 12vh;
  background-color: var(--white);
  border-radius: 50%;
}

.button-youtube:hover {
  background: url(data/button-youtube-hover.svg);
  background-repeat: no-repeat;
  background-color: var(--white);
  border-radius: 50%;
}

/*BUTTONS about*/
.button-back {
  background: url(data/button-back.svg);
  background-repeat: no-repeat;
  height: 12vh;
  width: 12vh;
}

.button-back:hover {
  background: url(data/button-back-hover.svg);
  background-repeat: no-repeat;
}

.button-insta {
  background: url(data/button-insta.svg);
  background-repeat: no-repeat;
  height: 12vh;
  width: 12vh;
}

.button-insta:hover {
  background: url(data/button-insta-hover.svg);
  background-repeat: no-repeat;
}

.button-work {
  background: url(data/button-work.svg);
  background-repeat: no-repeat;
  height: 12vh;
  width: 12vh;
}

.button-work:hover {
  background: url(data/button-work-hover.svg);
  background-repeat: no-repeat;
}

.button-cv {
  background: url(data/button-cv.svg);
  background-repeat: no-repeat;
  height: 12vh;
  width: 12vh;
}

.button-cv:hover {
  background: url(data/button-cv-hover.svg);
  background-repeat: no-repeat;
}



.button {
  z-index: 1;
  width: 12vh;
  margin-left: 60px;
  margin-bottom: 40px;
  border: 0;
  cursor: pointer;
  background: 0;
  padding: 0;
}

.button-text {
  z-index: 1;
  width: 12vh;
  margin-left: 50%;
  margin-top: 5px;
  border: 0;
  cursor: pointer;
  background: 0;
  padding: 0;
}

.topic-illustration-design {
  position: relative;
  margin-left: 8vw;
  display: flex;
  flex-direction: row;
  padding-top: 8vh;

  /*animation*/
  animation: up-down-animation .8s linear alternate infinite;
}

.topic-ceramic-crafts {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  height: 72vh;
  margin-left: 80vw;
  position: relative;

  /*animation*/
  animation: up-down-animation .8s linear alternate infinite;
}

.button-illustration-design,
.button-ceramic-crafts {
  margin-top: 2vh;
  margin-bottom: 2vh;
  z-index: 1;
  width: 30vh;
  border: 0;
  cursor: pointer;
  background: 0;
  padding: 0;
}

@keyframes up-down-animation {
  0% {
    top: 0px;
  }

  100% {
    top: 4px;
  }
}

.topics-text {
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 4vh;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

/*PROJECTS*/
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 50px;
  justify-content: center;
}

.illustration-design {
  padding-top: 15vh;
  padding-bottom: 5vh;
}

.ceramic-crafts {
  padding-top: 10vh;
  padding-bottom: 5vh;
}



/*MODALS*/
.modal-open {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.content-big {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 15px;
  padding: 0;
}

.overlay a {
  position: absolute;
}

.content-big>.overlay {
  transition: opacity 0.5s ease;
  position: absolute;
  opacity: 0;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 15px;
  justify-content: center;
  display: flex;
}

.i-d-illus {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: row;
}

.modal-open:hover .overlay {
  opacity: 1;
}

.content-big img,
.content-small img {
  height: 100%;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: none;
  overflow-y: scroll;
}

.modal-content {
  background: white;
  margin-top: 15vh;
  margin-bottom: 15vh;
  width: 75%;
  height:fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 24px;
  border-radius: 15px;
  z-index: 4;
}
.modal iframe{
  border-style: none;
}

.modal-header {
  font-weight: 500;
  padding: 10px 0;
  font-size: 20px;
  font-weight: bold;
}

.modal-header .modal-close {
  float: right;
  font-size: 16px;
  background: 0;
  border: 0;
  outline: none;
  padding: 5px 8px;
  border-radius: 50%;
  cursor: pointer;
}

.modal-body {
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  background-color: white;
}

.modal-box-tiny {
  margin: 1%;
  width: 23%;
}

.modal-box-small {
  margin: 1%;
  width: 48%;
}

.modal-box-big {
  margin: 1%;
  width: 100%;
}

.modal-footer {
  padding: 15px 0;
}

.modal-footer .modal-close {
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  outline: none;
  border-radius: 8px;
  color: #1a73e8;
  cursor: pointer;
}


@media (min-width: 1600px){
  .YouTube iframe {
    width: 840px;
    height: 473.5px;
  }
}
@media (max-width: 1000px){
  .YouTube iframe {
    width: 373.3px;
    height: 210px;
  }
}

@media (max-width: 800px) {

  #bottom,
  #top,
  .topic-ceramic-crafts,
  .topic-illustration-design,
  .footer-text,
  .home>img,
  .home>.topic-ceramic-crafts,
  .home>.topic-illustration-design,
  .button-back,
  .buttons-about button:nth-of-type(3),
  .content-home {
    display: none;
  }

  html {
    overflow: hidden;
  }

  .mobile-note {
    display: flex;
    width: auto;
    padding-left: 1.5em;
    padding-bottom: .5em;
    flex-direction: column-reverse;
  }

  .mobile-note>a {
    font-size: 14px;
    width: 100vw;
  }

  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .logo>a>img {
    display: none;
  }

  .home {
    display: flex;
    justify-content: flex-start;
    background-image: url(ceramic/kaiping_vase_1.JPG);

    background-repeat: no-repeat;
    background-size: cover;
  }

  .buttons-home {
    margin-top: -3em;
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .buttons-home button {
    margin: 0;
  }

  footer {
    margin-top: auto;
    padding-bottom: 0;
  }

  .about>div {
    max-width: 80vw;
    transform: translate(0, -80px)
  }

  .buttons-about {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 6em;
    right: 0;

  }

  .button {
    margin: 0;
  }

}

