@import url("https://use.typekit.net/tnx7axi.css");

  @font-face { font-family: 'avenir_light';
    src: url('font/inter/Inter-Light-BETA.woff') format('woff'); }
  @font-face { font-family: 'avenir_medium';
    src: url('font/inter/Inter-Medium.woff') format('woff'); }
  @font-face { font-family: 'avenir_book';
    src: url('font/inter/Inter-Regular.woff') format('woff'); }

  /*wenn bilder nicht 16:9
.slideshow-items img, .projects img{
  width: 600px;
  height: 337.5px;
  object-fit: cover;
}*/



.papierkram{
  max-width: 600px;
}
.papierkram h2, .papierkram h3{
  color: #555555;
  font-family: 'avenir_book';
}

a{
    text-decoration: none;
}
body{
    background-color: #ffffff; /*br:ececec orangerot: f15a40  dark blue: 0B2D33, 0d363d*/
    margin: 0;
}
.textindex{
    padding: .5em;
    font-family: 'avenir_medium';
    width: 320px;
    text-align: left;
    color: #555555;
    line-height: 1.2;
  }
html {
  line-height: 1;
}

header{
  padding: 0em 1em 0 2em;
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 15vw;
}
h1 {
    margin-top: 0;
  font-family: 'stratos';
  font-size: 50px;
  color: #FFB725; /*dunkelblau 165762  hellblau:5b999e  gelb:f29e00*/
}
.desktop{
    display:block;
}
.mobil{
    display:none;
}
h2{
  font-family: 'avenir_book';
}
h3{
    font-family: 'avenir_book';
    margin: .3em 0;
    font-size: 16px;
}
header a{
  font-family: 'avenir_medium';
  
  font-size: 20px;
  text-decoration: none;
  color: #555555;
}
.menu-collapsible {
  cursor: pointer;
  width: 100%;
  border: none;
  padding: 5px;
  text-align: left;
  outline: none;
  background-color: transparent;
}
.menu-items, .menu-link {
  text-decoration-color: #3c3c3b;
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}
.menu-collapsible a:hover, .menu-link a:hover, .menu-items>a:hover{
  background: -webkit-repeating-linear-gradient(#ffffff00, #ffffff00 65%, #FFB725 60.1%, #FFB725 100%);
  text-decoration-color: #FFB725;
  border-bottom: 2px solid #FFB725;
}
.underline{
  background: -webkit-repeating-linear-gradient(#ffffff00, #ffffff00 65%, #FFB725 60.1%, #FFB725 100%);
  text-decoration-color: #FFB725;
  border-bottom: 2px solid #FFB725;
}
.collapsibleItems {
  padding: 0 20px;
  display: block;
  overflow: hidden;
  background-color: transparent;
}
.einschub{
  padding: 5px 20px;
  background-color: transparent;
}

.text, .text>p, p, p a, /*.text>a,*/ .nextproject, .nextproject>a{
  color: #555555;
}
.main_projects p{
  color:#555555;
}
.overlay .text{
    margin: .5em 0 0em .5em;
}

.text{
  margin: 1em 0 1em 0;
  font-family: 'avenir_medium';
  max-width: 600px;
  text-align: left;
  line-height: 1.2;
}
.text>p, p{
  font-family: 'avenir_book';
  
}
.text a{
  text-align: left;
  text-decoration: underline;
}
.portfolio .text{
  font-family: 'avenir_light';
}

main{
  display: flex;
  margin: 5em 0 0 0;
  transform: translateX(15vw);
  width: 83vw;
  flex-direction: column;
  align-items: center;
}
.main_projects{
    flex-direction: column;
    align-items: flex-start;
  }
.main_index{
    margin-top: 5em;
    transform: translateX(15vw);
    width: 84vw;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
  }
  .nextproject, .nextproject>a{
      margin: 8vh 0;
      font-family: 'stratos';
      width: 100%;
      display:flex;
      flex-direction:row;
      justify-content: space-evenly;
  }

.project-link{
  margin: 10vh 0;
}
.project-link a{
  color: #FFB725;
  font-family: "stratos";
  font-size: 30px;;
}
.project-title{
  margin: 5vh 0 20vh 0;
}
.project-title a{
  font-family: "stratos";
  font-size: 30px;
  color: #3c3c3b;
}
.project-image-groß {
  margin: 0;
  padding-bottom: 0em;
}
.project-image-groß img,.project-image-groß video {
  max-width: 900px;
}

.banner{
  position: fixed;
  max-width: 70px;
  top: 0em;
  right: 13vw;
}

.imprint-privacy{
  position: fixed;
  bottom: 1em;
  left: 2em;
}
.imprint-privacy, .imprint-privacy a, .imprint-privacy-mini, .imprint-privacy-mini a {
  color: #555555;
  font-family:"avenir_light";
  font-size: 18px;
  text-decoration: none;
}
.imprint-privacy a:hover, .imprint-privacy-mini a:hover{
  text-decoration: underline;
}
.imprint-privacy-mini{
  display:none;
}

.project-gallery{
  max-width: 900px;
  
}
.project-gallery img{
  padding: 1% 0% 1% 0;
  max-width: 49%; 
  max-height: auto;
  flex-grow: 1;
}
.project-gallery img:nth-child(odd){
  padding: 1% 1% 1% 0;
}

/*.project-gallery iframe{
  padding: 1% 0 1% 0;
  flex-grow: 1;
}
.project-gallery iframe:nth-child(odd){
  padding: 1% 1% 1% 0;
}*/

/*
.project-gallery img:hover{
  transform: scale(2.5);
}*/


/*.project-image-groß img:hover{
  transform: scale(1.5);
}*/
.video{
  width:100%;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;

}

.project-gallery iframe{
  width: 49%;
  height: 250px;
}
.project-gallery iframe:first-child{
  padding: 0 1em 0 0;
}
.project-gallery iframe:last-child{
  padding: 0 0 0 0;
}

.border{
  border-color: #ffffff;
  border-width: 5px;
}

.topic{
  color: #ffffff;
  font-weight: lighter;
}
.platzhalter{
    padding-top:6em;
}

.contact_chart{
    max-width: 600px;
}


.detour_flex_row{
  flex-direction: row;
    padding: 0 0 0 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: flex-start;
}

.detour_flex_column{
  padding: 0 0 0 0;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: flex-start;
}

.portfolio{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: flex-end;
    align-content: center;
}

.portfolio_kakerlakenpopo{
    padding: 0 0 0 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

.portfolio_kakerlakenpopo>.item, .portfolio_wattwurmdesign>.item{
    max-width: 320px;
    height: 190px;
    padding: .5em;
}
.portfolio_kakerlakenpopo img{
    filter: grayscale(100)
}
.portfolio_kakerlakenpopo img:hover{
    filter: grayscale(0)
}
.portfolio .item{
    padding: 0 2em 2em 0;
    max-width: 35vw;
}
.itemimage{
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.overlay {
    opacity: 0;
    position: absolute;
    top: -20%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 101%;
    transition: .5s ease-in-out;
    background: -webkit-repeating-linear-gradient(#ffffff, #ffffff 20%, #ffffff00 10.1%, #ffffff00 100%);
  }
  .colorbox{
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: inherit;
    width: inherit;
    transition: .5s ease-in-out;
    background-color: #ffffff00; /*165762*/
  }
  .colorbox_kakerlakenpopo{
    opacity: 1;
    position: inherit;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: inherit;
    width: inherit;
    transition: .5s ease-in-out;
    background-color: #ffffff00; /*165762*/
  }



.box-items{
    display: block;
    position: initial;
    display:flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-left: 0em;
}
.linieBeschreibungRot{
    padding-top: 3em;
    border-bottom: 1px solid #FFB725;
    border-width: 2px;
    color:#FFB725;
    font-family: 'avenir_book';
    font-size: 24px;
}

.item img{
  filter: grayscale(100%);
}
.item:hover .vertical, .item:hover img{
  display:block;
  filter: grayscale(0%);
}
.item:hover .overlay{
transition: .5s ease-in-out;
opacity:1;
top: 0px;
}
.item:hover .colorbox{
    transition: .5s ease-in-out;
    opacity:0;
}






@media only screen and (max-width: 1024px) {
    header{
        width: 20vw;
    }
    main {
      transform: translateX(25vw);
      width: 75vw;
  }

    .banner{
        right: 1em;
        top: 1em;
      }
      .banner img{
          width:50px;
      }
  .textindex {
    padding: .5em;
    width: 230px;
    font-size: 12px;
}
.portfolio_wattwurmdesign>.item {
    max-width: 230px;
    height: auto;
    padding: .5em;
}
.portfolio_kakerlakenpopo>.item {
    max-width: 230px;
    height: auto;
    padding: .5em;
}

.portfolio .item {
    padding: 0 2em 2em 0;
    max-width: 350px;
}

.vertical{
    font-size: 14px;
}
}

/* On smaller screens, decrease text size - ab 1000px umspringen*/
@media only screen and (max-width: 800px) {
    iframe{
        max-width: 100%;
        max-height: 300px;
      }
      .project-gallery iframe{
        width: 48%;
        height: 155px;
      }

  .imprint-privacy, .imprint-privacy a{
    font-size: 12;
  }
.text {font-size: 14px}

h1{
  font-size: 35px;
}

.portfolio .item {
    padding: 0 2em 2em 0;
    max-width: 500px;
}
.vertical{
    font-size: 18px;
}
main{
    display: block;
    margin: 5em 0 0 0;
    transform: translateX(25vw);
    width: 70vw;
  }
  .project-gallery img{
    max-width: 264px; 
  }
  .banner{
    right: 1em;
    top: 1em;
    width:50px;
  }

  .item img{
    filter: grayscale(0);
  }
  .vertical, .item:hover img{
    display:block;
  }
  .colorbox{
    display:none
}
.overlay{
    opacity:1;
    top: 0;
    background: -webkit-repeating-linear-gradient(#ffffffb1, #ffffffb1 22%, #ffffff00 20.1%, #ffffff00 100%);
}
}



@media only screen and (max-width: 500px) {
  .project-gallery iframe{
    width: 100%;
    height: 250px;
  }
  .project-gallery iframe:first-child{
    padding: 0 0 1em 0;
  }

.imprint-privacy{
  display:none;
}
  .imprint-privacy-mini{
    display: flex;
    justify-content: space-between;
    padding:1em 1em  1em 1em;
    position: relative;
  }
  .imprint-privacy-mini a{
    font-size: 14px;
    opacity: .5;
  }
  .desktop{
      display:none;
  }
  .mobil{
      display:block;
  }

iframe{
  max-width: 100%;
  max-height: 240px;
}
.project-gallery img{
  margin: 5px 0em 5px 0;
  max-width: 100%;
}
.banner{
    width: 20%;
    top: 3em;
    right: -6em;
  }
main{
    margin-top:6em;
    transform: translateX(0vw);
    right:0;
}
.main_index{
    transform: translateX(0vw);
    width: 100vw;
    margin-top: 6em;
    padding-top: 1em;
}
header{
    transform: translateY(-8em);
    flex-direction: row;
    justify-content: space-around;
    background-color: #fff;
    width: 100vw;
    padding: 3em 0 0 0;
}
.menu{
    padding-left: 1em;
}
.text{
    padding: 0 1em;
}
.nextproject{
    margin: 0;
    padding: 2em 1em 1em 1em;
}
.nextproject a{
  margin: 0;
}
.vertical{
    font-size: 14px;
}
.main_projects {
    padding-top: 3em;
    width: 100vw;
}
.colorbox{
    display:none
}
.overlay{
    display:none;
    opacity:1;
    top: 0;
    background: -webkit-repeating-linear-gradient(#ffffffb1, #ffffffb1 28%, #ffffff00 28%, #ffffff00 100%);
}
.portfolio .item{
    padding: 0 0em 1em 0;
}
.textindex {
   padding: 0;
}
.textindex {
  padding: .5em;
  width: 100%;
}
.portfolio_kakerlakenpopo>.item {
  max-width: 100%;
  height: auto;
  padding: 0 0 1em 0;
}
.project-link {
  margin: 0em 0 2em 1em;
}
.project-link a {
  font-size: 22px;
}

.yellowx{
  color: #FFB725 !important;
  font-family: "avenir_light";
  text-decoration: none;
}


@media only screen and (max-width: 375px) {
    .vertical{
        font-size: 12px;
    }
    .project-gallery iframe{
      width: 100%;
      height: 190px;
    }
    .project-gallery iframe:first-child{
      padding: 0 0 .3em 0;
    }
}