@font-face { font-family: 'avenir_light';
  src: url('font/avenir/AvenirLTStd-Light.otf') format('opentype'); }
@font-face { font-family: 'avenir_medium';
  src: url('font/avenir/AvenirLTStd-Medium.otf') format('opentype'); }
@font-face { font-family: 'avenir_book';
  src: url('font/avenir/AvenirLTStd-Book.otf') format('opentype'); }
@font-face { font-family: 'circular_bold';
  src: url('font/circular/lineto-circular-pro-bold.ttf') format('opentype'); }

  /*wenn bilder nicht 16:9
.slideshow-items img, .projects img{
  width: 600px;
  height: 337.5px;
  object-fit: cover;
}*/

a{
    text-decoration: none;
}
body{
    background-color: #0B2D33; /*br:ececec orangerot: f15a40  dark blue: 0B2D33, 0d363d*/
    margin: 0;
}
.textindex{
    padding: .5em;
    font-family: 'avenir_medium';
    width: 320px;
    text-align: left;
    color: #5b999e;
    line-height: 1.2;
  }
html {
  line-height: 1;
}

header{
  padding: 0em 1em 0 2em;
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 20vw;
}
h1 {
    margin-top: 0;
  font-family: 'circular_bold';
  font-size: 50px;
  color: #f15a40; /*dunkelblau 165762  hellblau:5b999e  gelb:f29e00*/
}
h2{
  font-family: 'avenir_book';
}
h3{
    font-family: 'avenir_book';
    margin: .3em 0;
    font-size: 16px;
}
header a{
  font-family: 'avenir_medium';
  font-size: 16px;
  text-decoration: none;
  color: #5b999e;
}
.menu-collapsible {
  cursor: pointer;
  width: 100%;
  border: none;
  padding: 5px;
  text-align: left;
  outline: none;
  background-color: transparent;
}
.menu-items, .menu-link {
  text-decoration-color: #3c3c3b;
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}
.menu-collapsible a:hover, .menu-link a:hover, .menu-items>a:hover{
  background: -webkit-repeating-linear-gradient(#ffffff00, #ffffff00 50%, #f15a40 50.1%, #f15a40 100%);
  text-decoration-color: #f15a40;
  border-bottom: 4px solid #f15a40;
}
.underline{
  background: -webkit-repeating-linear-gradient(#ffffff00, #ffffff00 50%, #f15a40 50.1%, #f15a40 100%);
  text-decoration-color: #f15a40;
  border-bottom: 4px solid #f15a40;
}
.collapsibleItems {
  padding: 0 20px;
  display: block;
  overflow: hidden;
  background-color: transparent;
}
.einschub{
  padding: 5px 20px;
  background-color: transparent;
}

.text, .text>p, p, p a, .text>a, .nextproject, .nextproject>a{
  color: #5b999e;
}
.main_projects p{
  color:#d8d8d8;
}

.text{
  margin: 1em 0 1em 0;
  font-family: 'avenir_medium';
  max-width: 500px;
  text-align: left;
  line-height: 1.2;
}
.text>p, p{
  font-family: 'avenir_book';
}
.text a{
  text-align: left;
  text-decoration: underline;
}
.portfolio .text{
  font-family: 'avenir_light';
}

main{
  display: flex;
  margin: 5em 0 0 0;
  transform: translateX(15vw);
  width: 85vw;
  flex-direction: column;
  align-items: center;
}
.main_projects{
    flex-direction: column;
    align-items: flex-start;
  }
.main_index{
    margin-top: 5em;
    transform: translateX(25vw);
    width: 75vw;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
  }
  .nextproject, .nextproject>a{
      margin: 10vh 0 20vh 0;
      font-family: 'circular_bold';
  }

.project-link{
  margin: 10vh 0;
}
.project-link a{
  color: #f15a40;
  font-family: "circular_bold";
  font-size: 30px;;
}
.project-title{
  margin: 5vh 0 20vh 0;
}
.project-title a{
  font-family: "circular_bold";
  font-size: 30px;
  color: #3c3c3b;
}
.project-image-groß {
  margin: 0;
  max-width: 600px;
}
.project-image-groß img {
  max-width: 600px;
  
}

.banner{
  position: fixed;
  max-width: 70px;
  margin-top: -45vh;
  margin-left: 55%;
  margin-right: 3vh;
}

.imprint-privacy{
  margin-top: 75vh;
  position: fixed;
}
.imprint-privacy, .imprint-privacy a{
  color: #114650;
  font-family:"avenir_light";
  font-size: 14;
  text-decoration: none;
}
.imprint-privacy a:hover{
  text-decoration: underline;
}

.project-gallery{
  justify-items:space-around;
  max-width: 600px;
}
.project-gallery img{
  margin: 5px 0em 5px 0;
  height: auto; 
  width: auto; 
  max-width: 295px; 
  max-height: auto;
}
.project-gallery img:nth-child(odd){
  margin: 5px 5px 5px 0;
}

.project-gallery img:hover{
  transform: scale(2.5);
}
/*.project-image-groß img:hover{
  transform: scale(1.5);
}*/

.border{
  border-color: #ffffff;
  border-width: 5px;
}

.topic{
  color: #ffffff;
  font-weight: lighter;
}



.portfolio{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: flex-start;
    align-content: center;
}
.portfolio_wattwurmdesign{
    padding: 0 0 0 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: flex-start;
}
.portfolio_kakerlakenpopo{
    padding: 0 0 5em 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: flex-start;
}

.portfolio_kakerlakenpopo>.item, .portfolio_wattwurmdesign>.item{
    max-width: 320px;
    height: 190px;
    padding: .5em;
}
.portfolio_kakerlakenpopo img{
    filter: grayscale(100)
}
.portfolio_kakerlakenpopo img:hover{
    filter: grayscale(0)
}
.portfolio .item{
    padding: 0 2em 2em 0;
    max-width: 500px;
}
.itemimage{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.box-items{
    display: block;
    position: initial;
    display:flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-left: 0em;
}
.linieBeschreibungRot{
    padding-top: 3em;
    border-bottom: 1px solid #f15a40;
    border-width: 2px;
    color:#f15a40;
    font-family: 'avenir_book';
    font-size: 24px;
}
.linieBeschreibungBlau{
    margin-bottom: 2em;
    border-bottom: 1px solid #165762;
    border-width: 2px;
    color:#165762;
    font-family: 'avenir_book';
    font-size: 24px;
}
.linieBeschreibung{
    padding-top: 3em;
    border-bottom: 1px solid #5b999e;
    border-width: 2px;
    color:#5b999e;
    font-family: 'avenir_book';
    font-size: 24px;
}

.linieBeschreibungRot a, .linieBeschreibungBlau a, .linieBeschreibung a{
    font-size: 18px;
    font-weight: bold;
}

.vertical{
  display: none;
    transform: translateX(-3vw);
    writing-mode: vertical-rl;
    color: #f15a40;
    background-color: #0B2D33;
    font-family:'avenir_light';
    font-size: 18px;
    padding: 1em .2em 1em .4em ;
}
.item img{
  filter: grayscale(100%);
}
.item:hover .vertical, .item:hover img{
  display:block;
  filter: grayscale(0%);
}


@media only screen and (max-width: 1024px) {
  .banner{
    margin-top: -53vh;
    margin-left: 75%;
  }
  .textindex {
    padding: .5em;
    width: 230px;
    font-size: 12px;
}
.portfolio_wattwurmdesign>.item {
    max-width: 230px;
    height: auto;
    padding: .5em;
}
.portfolio_kakerlakenpopo>.item {
    max-width: 230px;
    height: auto;
    padding: .5em;
}

.portfolio .item {
    padding: 0 2em 2em 0;
    max-width: 350px;
}

.vertical{
    font-size: 14px;
}
}

/* On smaller screens, decrease text size - ab 1000px umspringen*/
@media only screen and (max-width: 800px) {
.text {font-size: 14px}

h1{
  font-size: 35px;
}

.portfolio .item {
    padding: 0 2em 2em 0;
    max-width: 500px;
}
.vertical{
    font-size: 18px;
}
main{
    display: block;
    margin: 5em 0 0 0;
    transform: translateX(25vw);
    width: 70vw;
  }
  .project-gallery img{
    max-width: 264px; 
  }
  .banner{
    margin-top: -46vh;
    margin-left: 87%;
  }
}



@media only screen and (max-width: 500px) {
iframe{
  max-width: 100%;
}
.project-gallery img{
  margin: 5px 0em 5px 0;
  max-width: 100%;
}
.banner{
    margin-top: -25vh;
    margin-left: 83%;
  }
main{
    margin-top:6em;
    transform: translateX(5vw);
    width: 90vw;
}
.main_index{
    transform: translateX(5vw);
    width: 95vw;
    margin-top: 6em;
    padding-top: 2em;
}
header{
    transform: translateY(-8em);
    flex-direction: row;
    background-color: #0B2D33;
    width: 100%;
    padding-top: 3em;
}
.menu{
    padding-left: 1em;
}
.vertical{
    font-size: 14px;
}
.project-image-groß {
    padding-top: 3em;
}

}


@media only screen and (max-width: 320px) {
    .vertical{
        font-size: 12px;
    }
}